.THIS .hide-label .slds-form-element__label {
      display : none;
      visibility : hidden;
}

.THIS .set-min-height{
    min-height:25rem;
}

.THIS .set-table-header-height{
    height:2rem;
}

.THIS .level-2-td{
    margin-left:2.5rem;
}
.THIS .set-name-width {
    width:30rem
}
.THIS .set-name-width-lvl2{
    width:24.5rem
}

.THIS .align-text-center{
    text-align:center;
}

.THIS .parent-row-highlight{
    background:#ecebea;
}